<li class="list-group-item p-2 custom-feed-item">
  <figure id="feed-user"> 
  <img
    id="profile-picture"
    class="rounded-circle m-2"
    src="/images/placeholder-profilepic.jpeg"
  />
  <figcaption> {{username}} </figcaption>
  </figure>
  <h3 id="feed-fruit"> {{fruitName}} </h3>
  <p id="feed-location"> {{locationName}} in {{city}}, {{state}}</p>
  
</li>