<div class="container-fluid d-flex flex-lg-row flex-md-column flex-sm-column custom-app-container">
  <div class="row col-md-12 d-flex justify-content-center" id="main-section">
    <div id="feed-container" class="col-lg-8 col-sm-12 p-2 m-2">
      <div id="feed-header" class="d-flex">
      <h1 class="mx-5"> FRUIT FEED </h1>
      {{#if loggedIn}}
       <a href="/sighting"><button class="rounded mx-5 add-sighting-btn">Add a New Sighting!</button></a>
      {{/if}}
      </div>


       <ul class="list-group list-group-flush custom-feed-box m-3">
        {{#each sightings as |sighting|}}
        {{>feed-details}}
        {{/each}}
      </ul>
    </div>

  
    <div class="col-lg-3 col-md-11 p-2 m-2" id="side-section">
      <div class="card custom-fruit-card">
        <div class="card-body custom-fruit-body">
          <h5 class="card-title mb-3"> {{fruitOfTheDay.name}} </h5>
          <h6 class="card-subtitle my-2">
          Nutrition Facts </h6>
          <p class="card-subtitle my-2" id="small-label"> Amount Per Serving </p>
          <p class="card-subtitle my-2"><span class="fw-bolder"> 
          Calories </span> {{fruitOfTheDay.calories}}</p>
          <p class="card-subtitle my-2"><span class="fw-bolder">
          Carbohydrates  </span> {{fruitOfTheDay.carbohydrates}}g </p>
          <p class="card-subtitle my-2"><span class="fw-bolder">
          Protien  </span> {{fruitOfTheDay.carbohydrates}}g </p>
          <p class="card-subtitle my-2"><span class="fw-bolder">
          Fat  </span> {{fruitOfTheDay.fat}}g </p>
          <p class="card-subtitle my-2"><span class="fw-bolder">
          Sugar  </span> {{fruitOfTheDay.sugar}}g </p>
        </div>
      </div>
    </div>
  </div>
</div>
