<div style="display: flex; justify-content: center">
  <div style="padding-top: 10%; text-align: center">
    <h3> Sighting Details </h3>
    Fruit:
    {{fruitName}}
    <div style="border-bottom: 1px solid black"></div>
    <br />
    <h6>Location Found:</h6>
    <p> {{locationName}} </p>
    <p> {{city}}, {{state}}</p>
    <p>{{format_date timestamp}} </p>
  </div>
</div>